body {
  background-color: #050246;
}

header {
  color: white;
  /*White font colour was chosen for the header as it goes well with the dark blue background.*/
}

/*The buttons on the navigation pane are also styled with bold font and a solid border.*/
header button {
  background-color: white;
  height: 100px;
  width: 300%;
  vertical-align: middle;
  border-color: black;
  border-style: solid;
}

/*The following sections are devoted to styling the navigation pane so that it looks different when the user hovers over the buttons.*/

header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

nav {
  display: flex;
  justify-content: center;
}

.nameandlogo {
  margin-top: 10%;
  display: block;
  text-align: center;
}

#logo {
  height: 15%;
  width: 15%;
}

#name {
  height: 30%;
  width: 30%;
}

li img {
  height: auto;
  width: auto;
}
