
body{
    background-color: rgba(0, 0, 0, 0.904);
}

nav {
    display: block;
    font-weight: bolder;
    font-family: sans-serif;
    width: 100%;
}

#heading{
    font-size: 300%;
    display: inline-block;
}

ul {
    display: inline-block;
    width:100%;
    padding-inline-start: 40px;
}

ul #contents li {
    
    display: inline-block;
    font-size: 120%;
    color: #2D3E4E;
    overflow: visible;
}

#contents{
    margin: 1%;
    display: inline-block;
}

li{
    text-align: center;
    display: inline-block;
    padding-right: 1%;
    padding-left: 5%;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: right;
    
}

h1 {
    font-size:50px;
    text-align: center;
    padding-top:4%;
    padding-bottom:4%;
    font-family: sans-serif;
    color: aliceblue;
    width: 100%;
}

h2 {
    font-size:20px;
    text-align: center;
    
    font-family: sans-serif;
    color: aliceblue;
}

footer{
   color: white;
   background-color: #2d3e4ecb;
    padding-left: 5%;
    display: inline-block;
    width:80%;
    padding-inline-start: 40px;
    font-family: sans-serif;
    
}


#contacts{
    width:50%; 
    text-align: right;
}

footer #contacts{
display: inline-block;
}

p{
    
    display: inline-block;
}